DATASET 1 - ESTUDIO BRECHAS DE CAPITAL HUMANO SECTOR TIC

In [8]:
import pandas as pd
tabla=pd.read_csv('Estudio_de_identificacion_de_brechas_de_capital_humano_para_el_sector_TIC_20240728.csv',sep=',',encoding='utf-8')
tabla

,Tipo,Cargo u oficio por entrevistados,NIVEL,PROGRAMA,MUNICIPIO,TOTAL_MATRICULADOS_2017,TOTAL_MATRICULADOS_2018,VARIACION_PORCENTUAL_2018_2017
0,CRÍTICO,ADMINISTRADOR DE BASES DE DATOS,TECNÓLOGO,TECNOLOGÍA EN ANÁLISIS Y DESARROLLO DE SISTEMA...,MEDELLÍN,6178,4750,-0.231143
1,CRÍTICO,ADMINISTRADOR DE BASES DE DATOS,TECNÓLOGO,TECNOLOGÍA EN ANÁLISIS Y DESARROLLO DE SISTEMA...,MANIZALES,1829,1291,-0.294100
2,CRÍTICO,ADMINISTRADOR DE BASES DE DATOS,UNIVERSITARIO,INGENIERÍA ELECTRÓNICA,MANIZALES,236,304,0.288100
3,CRÍTICO,ADMINISTRADOR DE BASES DE DATOS,UNIVERSITARIO,INGENIERÍA DE SISTEMAS,MANIZALES,2124,2145,0.009900
4,CRÍTICO,ADMINISTRADOR DE BASES DE DATOS,UNIVERSITARIO,INGENIERÍA ELECTRÓNICA,MEDELLÍN,498,628,0.261000
...,...,...,...,...,...,...,...,...
601,ALTA ROTACIÓN,TÉCNICO DE SOPORTE,UNIVERSITARIO,INGENIERÍA DE SISTEMAS,BUCARAMANGA,3333,3525,0.057600
602,CRÍTICO,VENDEDOR DE TECNOLOGÍA,UNIVERSITARIO,INGENIERÍA DE SISTEMAS,BOGOTÁ,25659,25226,-0.016900
603,ALTA DEMANDA,VENDEDOR DE TECNOLOGÍA,UNIVERSITARIO,INGENIERÍA DE SISTEMAS,BOGOTÁ,25659,25226,-0.016900
604,CRÍTICO,VENDEDOR DE TECNOLOGÍA,UNIVERSITARIO,INGENIERÍA DE SISTEMAS,BUCARAMANGA,3333,3525,0.057600
605,ALTA DEMANDA,VENDEDOR DE TECNOLOGÍA,UNIVERSITARIO,INGENIERÍA DE SISTEMAS,BUCARAMANGA,3333,3525,0.057600

In [9]:
#cantidad de brecha por tipo
tabla['Tipo'].value_counts()

Tipo
CRÍTICO          243
ALTA DEMANDA     191
ALTA ROTACIÓN    172
Name: count, dtype: int64

In [10]:
#filtrar solo los CRíTOCO
tabla.loc[tabla['Tipo']=='CRÍTICO',:].head()

,Tipo,Cargo u oficio por entrevistados,NIVEL,PROGRAMA,MUNICIPIO,TOTAL_MATRICULADOS_2017,TOTAL_MATRICULADOS_2018,VARIACION_PORCENTUAL_2018_2017
0,CRÍTICO,ADMINISTRADOR DE BASES DE DATOS,TECNÓLOGO,TECNOLOGÍA EN ANÁLISIS Y DESARROLLO DE SISTEMA...,MEDELLÍN,6178,4750,-0.231143
1,CRÍTICO,ADMINISTRADOR DE BASES DE DATOS,TECNÓLOGO,TECNOLOGÍA EN ANÁLISIS Y DESARROLLO DE SISTEMA...,MANIZALES,1829,1291,-0.294100
2,CRÍTICO,ADMINISTRADOR DE BASES DE DATOS,UNIVERSITARIO,INGENIERÍA ELECTRÓNICA,MANIZALES,236,304,0.288100
3,CRÍTICO,ADMINISTRADOR DE BASES DE DATOS,UNIVERSITARIO,INGENIERÍA DE SISTEMAS,MANIZALES,2124,2145,0.009900
4,CRÍTICO,ADMINISTRADOR DE BASES DE DATOS,UNIVERSITARIO,INGENIERÍA ELECTRÓNICA,MEDELLÍN,498,628,0.261000

In [13]:
filtro=tabla[(tabla['NIVEL']=='UNIVERSITARIO') & (tabla['TOTAL_MATRICULADOS_2018']>1000)]
filtro.head()

,Tipo,Cargo u oficio por entrevistados,NIVEL,PROGRAMA,MUNICIPIO,TOTAL_MATRICULADOS_2017,TOTAL_MATRICULADOS_2018,VARIACION_PORCENTUAL_2018_2017
3,CRÍTICO,ADMINISTRADOR DE BASES DE DATOS,UNIVERSITARIO,INGENIERÍA DE SISTEMAS,MANIZALES,2124,2145,0.0099
5,CRÍTICO,ADMINISTRADOR DE BASES DE DATOS,UNIVERSITARIO,INGENIERÍA DE SISTEMAS,MEDELLÍN,8307,9279,0.1170
7,ALTA ROTACIÓN,ADMINISTRADOR DE MESA DE AYUDA,UNIVERSITARIO,INGENIERÍA ELECTRÓNICA,BOGOTÁ,11772,10896,-0.0744
8,ALTA ROTACIÓN,ADMINISTRADOR DE MESA DE AYUDA,UNIVERSITARIO,INGENIERÍA DE SISTEMAS,BOGOTÁ,25659,25226,-0.0169
13,CRÍTICO,ADMINISTRADOR DE PLATAFORMAS,UNIVERSITARIO,INGENIERÍA DE SISTEMAS,MEDELLÍN,8307,9279,0.1170

In [14]:
filtro.to_csv('datos_universitarios.csv',sep=',',index=False)